body {
    margin:0;
    padding:0;
    font-size:100%;
    background-color: lightgray;
}

.containerRow {
    flex:1;
    display:flex;
}

.containerColumn {
    flex:1;
    display: flex;
    flex-direction:column;
}

.box {
    flex:1;
    border:solid 1px;
}

.card {
    flex:1;
    margin-top:1.5vh;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.2), 0px 4px 3px 0 rgba(0, 0, 0, 0.19);
}

.picture {
    flex:3;
}

.logo {
    width:15vmin;
    margin:0 5vw;
    border-radius:5%;
}

.flexRow {
    display:flex;
    flex-direction:row;
}

.flexColumn {
    display:flex;
    flex-direction:column;
}

#controlBar {
    min-height:8vh;
    text-align: left;
    background-color:magenta;
}

#title {
    flex:1;
    font-size:3vh;
    border:solid 1px;
}

form {
    flex:1;
    border:solid 1px;
}

#search, #mesure {
    border:solid 1px;
}

#search > div, #mesure > div {
    border:solid 1px;
    flex:1;
}

input[type=search]:focus {
    width:300px;
}

#fond {
    min-height:90vh;
}

#tomorrow {
    flex:2;
}

footer {
    text-align: center;
}

/* ============================================================ */

@media all and (min-device-width:500px) {
    
    #title {
        flex:2;
        font-size:3vw;
    }	
		
    #fond {
        height:90vh;
        flex-direction:row;
        justify-content:space-around;
    }
    
    .card {
        border-radius: 5px;
        margin:1vh;
        box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.2), 4px 4px 3px 0 rgba(0, 0, 0, 0.19);
    }
}
